<form method= "post" action="/">
  First number:<br>
  <input type="text" name="first_number">
  <br>

  <select name= "operator">
    <option value="add">Add</option>
    <option value="subtract">Subtract</option>
    <option value="multiply">Multiply</option>
    <option value="divide">Divide</option>
  </select>
  <br>
  Second number:<br>
  <input type="text" name="second_number">
  <br>
  <button type="submit">SUBMIT</button>
</form>
<form>
   <input type="text" name="result" value="<%= @answer %>">
</form>


